*{
    margin: 0;
    padding: 0;
}

/* nav style */
.container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(172, 166, 166, 0.5);
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo span{
    color: rgb(73, 235, 235);
    font-size: 18px;
}
.menu{
    display: flex;
    gap: 20px;
    font-size: 24px;
    list-style: none;
}

/* bennar style */

.benner{
    height: 100vh;
    background-image: url("./asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

.benner-info{
    padding: 250px;
}

span{
    color: red;
}
.benner-info h1{
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 20px;
}
.benner-info{
    font-size: 28px;
    margin-bottom: 20px;
}
.btn{
    padding: 15px 30px;
    margin-top: 20px;
    background-color: red;
}
.bg-primary{
    background-color: white;
}

/* srevice style */
.Service-container{
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    color: white;
}

.box{
    width: 180px;
    height: 180px;
    background-color: azure;
    color: black;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.icon{
    width: 100px;
}
.Service-description{
    width: 300px;
    
}

.box-container{
    display: flex;
    
}

/* profile style */
.sub-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
hr{
    height: 100px;
    
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-profile img{
    border-radius: 50%;
    height: 100px;
}
.br{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
}