*{
    margin: 0;
    padding: 0;
}

/* nav style */
.container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(172, 166, 166, 0.5);
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo span{
    color: rgb(73, 235, 235);
    font-size: 18px;
}
.menu{
    display: flex;
    gap: 20px;
    font-size: 24px;
    list-style: none;
}
